In [21]:
import pandas as pd 
df_details = pd.read_csv('../data/desafio_details.csv')

Bairros

In [18]:
df_details['suburb'].unique()

array(['Jurerê', 'Canasvieiras', 'Ingleses', 'Lagoa da Conceição',
       'Centro'], dtype=object)

Bairros em ordem crescente de número de listings

In [20]:

pd.DataFrame(df_details.groupby(by='suburb').size().sort_values())

                       0
suburb
Centro               278
Lagoa da Conceição   309
Jurerê               539
Canasvieiras        1177
Ingleses            2388