In [1]:
import pandas as pd 

# importa as duas base de dados
df_details = pd.read_csv('../data/desafio_details.csv')
df_priceav = pd.read_csv('../data/desafio_priceav.csv')

In [2]:
df_details.shape, df_priceav.shape

((4691, 9), (354520, 7))

In [3]:
# unindo as duas base de dados pelo airbnb_listing_id
df = pd.merge(df_details,df_priceav,on='airbnb_listing_id')

In [24]:
df.shape

(354520, 15)

In [3]:
# Bairros em ordem crescente de faturamento médio dos listings 
pd.DataFrame(df.groupby(by='suburb')['price_string'].mean().sort_values()).reset_index()

               suburb  price_string
0              Centro    219.088990
1  Lagoa da Conceição    250.514148
2        Canasvieiras    292.571139
3            Ingleses    350.371020
4              Jurerê    406.074854